* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Page background */
.about-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(218, 231, 239);
}

/* Main card */
.about-card {
  width: 90%;
  max-width: 1000px;
  background: #ffffff;

  display: flex;
  border-radius: 22px;
  overflow: hidden;

  box-shadow: 0 25px 50px rgba(197, 193, 193, 0.25);
}

/* Left section */
.about-left {
  width: 60%;
  padding: 50px;
  background: #f7f9fc;
}

.about-left h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #000;
}

.about-left p {
  font-size: 15px;
  color: #000;
  margin-bottom: 15px;
  line-height: 1.6;
}

/* Right section */
.about-right {
  width: 40%;
  padding: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-right h2 {
  background: #3b82f6;
  color: white;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
}

/* Skills list */
.about-right ul {
  list-style: none;
}

.about-right li {
  padding: 10px 14px;
  margin-bottom: 10px;

  background: #f7f9fc;
  border-radius: 8px;
  font-weight: 600;
  color: #000;
}

/* Responsive */
@media (max-width: 768px) {
  .about-card {
    flex-direction: column;
  }

  .about-left,
  .about-right {
    width: 100%;
    padding: 35px;
  }
}
