* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

/* Page background */
.projects-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(218, 231, 239);
}

/* Main card */
.projects-card {
    width: 90%;
    max-width: 1100px;
    background: #ffffff;
    padding: 40px;
    margin: 50px;
    border-radius: 22px;
    box-shadow: 0 25px 50px rgba(197, 193, 193, 0.25);
}

/* Title */
.projects-title {
    text-align: center;
    margin-bottom: 35px;
    font-size: 32px;
    color: #000;
}

/* Grid */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

/* Project box */
.project-box {
    background: #f7f9fc;
    padding: 25px;
    border-radius: 18px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: 0.3s;
}

.project-box:hover {
    transform: translateY(-5px);
}

/* Project title */
.project-box h3 {
    font-size: 20px;
    margin-bottom: 12px;
    color: #000;
}

/* Description */
.project-box p {
    font-size: 14px;
    color: #000;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Links */
.project-links {
    display: flex;
    gap: 15px;
}

.project-links a {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;

    background: #3b82f6;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;

    transition: 0.3s;
}

.project-links a:hover {
    transform: scale(1.05);
}

/* Mobile */
@media (max-width: 768px) {
    .projects-card {
        padding: 30px;
    }

    .projects-title {
        font-size: 26px;
    }
}